! 4PEG Configuration Template
! http://4peg.com/kskkGkXt9FKW
!--------------------------------------------------------------------------
! Configure Cisco ASA 5506 to be used as a switch
! Single Internet/WAN facing internet
! Create BVI to internal virtual interface
! All other ports to be configured as layer 2 switchports
! You can have up to 7 BVI in this configuration, but properly not
! recommended
!--------------------------------------------------------------------------
!
interface GigabitEthernet1/1 
nameif outside 
security-level 0 
ip address [[PUBLIC-IP-ADDRESS]] [[PUBLIC-IP-SUBNET-MASK]]
! 
interface BVI1 
nameif Private 
security-level 100 
ip address [[PRIVATE-IP-ADDRESS]] [[PRIVATE-IP-SUBNET-MASK]]
! 
interface GigabitEthernet1/2 
bridge-group 1 
nameif Private_1 
security-level 100 
!
interface GigabitEthernet1/3 
bridge-group 1 
nameif Private_2 
security-level 100 
! 
interface GigabitEthernet1/4 
bridge-group 1 
nameif Private_3 
security-level 100 
!
interface GigabitEthernet1/5 
bridge-group 1 
nameif Private_4 
security-level 100 
!
interface GigabitEthernet1/6 
bridge-group 1 
nameif Private_5 
security-level 100 
!
interface GigabitEthernet1/7 
bridge-group 1 
nameif Private_6 
security-level 100 
!
interface GigabitEthernet1/8 
bridge-group 1 
nameif Private_7 
security-level 100 
!
interface Management1/1 
shutdown 
!
interface GigabitEthernet1/1 
no shutdown 
!
interface GigabitEthernet1/2 
no shutdown 
!
interface GigabitEthernet1/3 
no shutdown 
!
interface GigabitEthernet1/4 
no shutdown 
!
interface GigabitEthernet1/5 
no shutdown 
!
interface GigabitEthernet1/6 
no shutdown 
!
interface GigabitEthernet1/7 
no shutdown 
!
interface GigabitEthernet1/8 
no shutdown 
!
