! 4PEG Configuration Template
! http://4peg.com/mTjXXPmdTQMl
!--------------------------------------------------------------------------
! Cisco ASA DHCP Server Configuration Basic
!--------------------------------------------------------------------------
!
![[START-IP-ADDRESS]]   First IP Address within the DHCP Scope
![[END-IP-ADDRESS]]     Last IP Address within the DHCP Scope
![[INTERFACE-NAME]]     Interface within the DHCP Scope specified
![[DOMAIN-NAME]]        domain/network name (i.e. company.net)
![[GATEWAY-IP-ADDRESS]] Default Gateway IP Address, (usually the IP Address of the interface)
![[DNS-SERVER-1]]       Prefered DNS Server
![[DNS-SERVER-2]]       Secondary DNS Server
!
dhcpd address [[START-IP-ADDRESS]]-[[END-IP-ADDRESS]] [[INTERFACE-NAME]]
dhcpd dns [[DNS-SERVER-1]] [[DNS-SERVER-2]] interface [[INTERFACE-NAME]]
!
!-- lease time is in seconds, amend to your requirements
dhcpd lease 14400 interface [[INTERFACE-NAME]]
!
!-- domain name important if your clients rely on DNS suffix search
dhcpd domain [[DOMAIN-NAME]] interface [[INTERFACE-NAME]]
!
dhcpd option 3 ip [[GATEWAY-IP-ADDRESS]] interface [[INTERFACE-NAME]]
!
!-- this is the final step to enable DHCP on responsed on the interface
dhcpd enable [[INTERFACE-NAME]]
!
dhcpd reserve-address [[dhcp-reserve-address]] [[dhcp-reserve-mac-address]] [[INTERFACE-NAME]]
!