! 4PEG Configuration Template
! http://4peg.com/DN8ZhQQJL4m4
!---------------------------------------------------------------------------------
! Cisco ASA Failover & State Link Configuration
!---------------------------------------------------------------------------------
!
!################################################################
!PRIMARY UNIT
!################################################################
!
!--failover configuration
!
clear configure interface GigabitEthernet[[PRI-INTERFACE-FO]]
failover lan unit primary
failover lan interface failover GigabitEthernet[[PRI-INTERFACE-FO]]
failover interface ip failover 198.51.100.1 255.255.255.252 standby 198.51.100.2
!
interface GigabitEthernet[[PRI-INTERFACE-FO]]
 no shut
!
failover link failover GigabitEthernet[[PRI-INTERFACE-FO]]
!
!--ipsec encryption between firewalls
!
failover ipsec pre-shared-key [[PRE-SHARED-KEY]]
!
!--turn on failover
failover
!
!################################################################
!SECONDARY UNIT
!################################################################
!
!--failover configuration
!
clear configure interface GigabitEthernet[[SEC-INTERFACE-FO]]
failover lan unit secondary
failover lan interface failover GigabitEthernet[[SEC-INTERFACE-FO]]
failover interface ip failover 198.51.100.1 255.255.255.252 standby 198.51.100.2
!
interface GigabitEthernet[[SEC-INTERFACE-FO]]
 no shut
!
failover link failover GigabitEthernet[[SEC-INTERFACE-FO]]
!
!--ipsec encryption between firewalls
!
failover ipsec pre-shared-key [[PRE-SHARED-KEY]]
!
!--turn on failover
failover
!
!################################################################
!PRIMARY UNIT
!################################################################
!
!--secondary config lock
!--prevents configuration on the secondary unit
!
failover standby config-lock
!
!################################################################
!Verification
!################################################################
!
show failover
!
show failover state
!
