! 4PEG Configuration Template
! http://4peg.com/pdFKFB578QRX
!--------------------------------------------------------------------------
! Cisco ASA Assessment Commands
!--------------------------------------------------------------------------
!
!-- General
term page 0
show version
more system:running-config
show access-list
show nat
show xlate
show conn
!
!-- Layer3
show ip address
show arp 
show interfaces
show failover
show route
!
!-- EIGRP Routing
!
show eigrp neighbor
show eigrp topology
show route eigrp
!
!-- OSPF Routing
!
show ospf neighbor
show ospf database
show ospf interface
show route ospf
!
!-- BGP Routing
!
show bgp neighbors
show route bgp
show bgp cidr-only
show bgp summary
!
!-- 9.2 or higher
show route summary
!
!-- ASP Table
show asp table socket
show asp table routing
!
!-- VPN
show vpn-sessiondb summary
show crypto isakmp sa
show crypto ipsec sa
show crypto engine connections active
show crypto map
show crypto session
show interface tunnel [[interface-id]]
show crypto ikev2 sa
show crypto ikev2 session
show crypto ikev2 stats
!
!-- Certificates
show crypto ca trustpoints
show crypto ca certificates
!
!-- Show Tech
show tech-support
!
!-- Export Trustpoints
crypto ca export <trust-point-name> pkcs12 <passphrase>
!
!-- Import Trustpoints
crypto ca import <trust-point-name> pkcs12 <passphrase>
!
