!--BDI Interface Single Untagged Interface
!--Cisco IOS, IOS-XE Routers
!
bridge-domain {{bridge_dom_id}} 
!
bridge irb
!
interface Ethernet{{mod/slot/port1}}
 no ip address
 bridge-group {{bridge_dom_id}} 
 service instance {{bridge_dom_id}}  ethernet
  encapsulation untagged
  bridge-domain {{bridge_dom_id}} 
 !
!
interface Ethernet{{mod/slot/port1}}
 no ip address
 bridge-group {{bridge_dom_id}} 
 service instance {{bridge_dom_id}}  ethernet
  encapsulation untagged
  bridge-domain {{bridge_dom_id}} 
 !
!
interface BDI1
 ip address {{ip_address}} {{subnet_mask}}
!