!
!-------------------------------------------------------
!
track 1001 ip sla 1001 reachability
!
track 1111 ip sla 1111 reachability
!
track 8844 ip sla 8844 reachability
!
track 8888 ip sla 8888 reachability
!
!-------------------------------------------------------
!
ip sla 1001
 icmp-echo 1.0.0.1
  frequency 5
ip sla schedule 1001 life forever start-time now
!
ip sla 1111
 icmp-echo 1.1.1.1
  frequency 5
ip sla schedule 1111 life forever start-time now
!
ip sla 8844
 icmp-echo 8.8.4.4
  frequency 5
ip sla schedule 8844 life forever start-time now
!
ip sla 8888
 icmp-echo 8.8.8.8
  frequency 5
ip sla schedule 8888 life forever start-time now
!
!-------------------------------------------------------
!