!-------------------------------------------------------
! ROUTER 1
!-------------------------------------------------------
!
track 1 ip sla 1 reachability
!
track 2 ip sla 2 reachability
!
track 3 ip sla 3 reachability
 delay down 10 up 10
!
ip sla 1
 icmp-echo {{isp1-gw-adddess}}
  frequency 5
ip sla schedule 1 life forever start-time now
ip sla 2
 icmp-echo {{isp2-gw-adddess}}
  frequency 5
ip sla schedule 2 life forever start-time now
ip sla 3
 icmp-echo {{p2p-route-link}}
  frequency 5
ip sla schedule 3 life forever start-time now
!
ip route 0.0.0.0 0.0.0.0 {{isp1-gw-adddess}} 10 track 1
ip route 0.0.0.0 0.0.0.0 {{isp2-gw-adddess}} 20 track 2
!
!-------------------------------------------------------
! ROUTER 2
!-------------------------------------------------------
!
track 1 ip sla 1 reachability
!
track 2 ip sla 2 reachability
!
track 3 ip sla 3 reachability
 delay down 10 up 10
!
ip sla 1
 icmp-echo {{isp1-gw-adddess}}
  frequency 5
ip sla schedule 1 life forever start-time now
ip sla 2
 icmp-echo {{isp2-gw-adddess}}
  frequency 5
ip sla schedule 2 life forever start-time now
ip sla 3
 icmp-echo {{p2p-route-link}}
  frequency 5
ip sla schedule 3 life forever start-time now
!
ip route 0.0.0.0 0.0.0.0 {{isp1-gw-adddess}} 10 track 1
ip route 0.0.0.0 0.0.0.0 {{isp2-gw-adddess}} 20 track 2
!
event manager applet Bring_Interfaces_Up
 event track 3 state down
 action 1.0 syslog msg "ALERT: IP SLA ICMP Echo to {{p2p-route-link}} failed; bringing up all interfaces."
 action 2.0 cli command "enable"
 action 2.1 cli command "configure terminal"
 action 3.0 cli command "interface range Ethernet0/0-3"
 action 3.1 cli command "no shutdown"
 action 4.0 cli command "end"
event manager applet Shut_Interfaces_Down
 event track 3 state up
 action 1.0 syslog msg "ALERT: IP SLA ICMP Echo to {{p2p-route-link}} restored; shutting down all interfaces."
 action 2.0 cli command "enable"
 action 2.1 cli command "configure terminal"
 action 3.0 cli command "interface range Ethernet0/0-3"
 action 3.1 cli command "shutdown"
 action 4.0 cli command "end"
!