!--------------------------------------------------------------------------
! For Cisco IOS-XE Routers
!--------------------------------------------------------------------------
! Implement IPv6 NeFlow Configuration for LogicMonitor
!--------------------------------------------------------------------------
!
!--save current configuration
write memory
!
!--configure mode
configure terminal
!
!--create NetFlow record for inbound packets
flow record nf.record.input.v6
 description input-v6-for-{{layer3_interface}}
 match ipv6 protocol
 match ipv6 source address
 match ipv6 destination address
 match transport source-port
 match transport destination-port
 match application name
 match interface input
 match ipv6 traffic-class
 collect routing source as
 collect routing destination as
 collect routing next-hop address ipv6
 collect counter bytes long
 collect counter packets long
 collect timestamp sys-uptime first
 collect timestamp sys-uptime last
exit
!
!--create NetFlow record for outbound packets
flow record nf.record.output.v6
 description output-v6-for-{{layer3_interface}}
 match ipv6 protocol
 match ipv6 source address
 match ipv6 destination address
 match transport source-port
 match transport destination-port
 match application name
 match interface output
 match ipv6 traffic-class
 collect routing source as
 collect routing destination as
 collect routing next-hop address ipv6
 collect counter bytes long
 collect counter packets long
 collect timestamp sys-uptime first
 collect timestamp sys-uptime last
 exit
!
!--create an export NetFlow collector destination
flow exporter nf.exporter
 destination {{netflow_collector_ip}}
 source {{netflow_source_ip}}
 transport udp 2055
 template data timeout 60
 option interface-table timeout 60
 option application-table timeout 60
 export-protocol ipfix
exit
!
!--create a NetFlow interface monitor for inbound packets
flow monitor nf.monitor.input.v6
 exporter nf.exporter
 cache timeout active 60
 cache timeout inactive 120
 record nf.record.input.v6
 exit
!
!--create a NetFlow interface monitor for outbound packets
flow monitor nf.monitor.output.v6
 exporter nf.exporter
 cache timeout active 60
 cache timeout inactive 120
 record nf.record.output.v6
 exit
!
!--assign the NetFlow monitors to an interface
interface {{layer3_interface}}
 ipv6 flow monitor nf.monitor.input.v6 input
 ipv6 flow monitor nf.monitor.output.v6 output
end
!
!--save modified configuration
write memory
!
!--------------------------------------------------------------------------
! Remove NeFlow Configuration for LogicMonitor
!--------------------------------------------------------------------------
!
!--save current configuration
write memory
!
!--configure mode
configure terminal
!
!--remove the NetFlow monitors to an interface
interace {{layer3_interface}}
 no ipv6 flow monitor nf.monitor.input.v6 input
 no ipv6 flow monitor nf.monitor.output.v6 output
 exit
!
!--remove a NetFlow interface monitor for inbound packets
no flow monitor nf.monitor.input.v6
!
!--remove a NetFlow interface monitor for outbound packets
no flow monitor nf.monitor.output.v6
!
!--remove an export NetFlow collector destination
no flow exporter nf.exporter
!
!--remove NetFlow record for inbound packets
no flow record nf.record.input.v6
!
!--remove NetFlow record for outbound packets
no flow record nf.record.output.v6
!
!--exit configure mode
end
!
!--save modified configuration
write memory
!
!--------------------------------------------------------------------------
! Validate NeFlow Configuration for LogicMonitor
!--------------------------------------------------------------------------
!
show flow record nf.record.input.v6
show flow record nf.record.output.v6
show flow monitor
show flow monitor nf.monitor.input.v6 statistics
show flow monitor nf.monitor.output.v6 statistics
show flow monitor nf.monitor.input.v6 cache
show flow monitor nf.monitor.output.v6 cache
show flow exporter nf.exporter
show flow exporter statistics
!