!-----------------------------------------------------------------
! Cisco-IOS-Router-BGP-LOCALPREF-Configuraiton copy
!-----------------------------------------------------------------
!
!
ip prefix-list asn.[[LOCAL-BGP-AS-NUMBER]]-allocations seq 10 permit [[LOCAL-NETWORK-TO-BGP/CIDR]]
!
route-map rm.bgp-wan-in permit 10
 match community 1
 set local-preference 10
!
route-map rm.bgp-wan-in permit 20
 match as-path 2
!
route-map rm.bgp-wan-out permit 10
 description announce allocated routes sourced from our AS only
 match ip address prefix-list asn.[[LOCAL-BGP-AS-NUMBER]]-allocations
 match as-path 1
!
router bgp [[LOCAL-BGP-AS-NUMBER]]
 bgp router-id [[BGP-ROUTER-ID]]
 bgp always-compare-med
 bgp log-neighbor-changes
 timers bgp 4 16
 network [[BGP-PEER-PUBLIC-IP-ADDRESS]] mask 255.255.255.255
 neighbor [[BGP-PEER-PRIVATE-IP-ADDRESS]] remote-as [[REMOTE-BGP-AS-NUMBER]]
 neighbor [[BGP-PEER-PRIVATE-IP-ADDRESS]] description [[BGP-PEER-DESCRIPTION]]
 neighbor [[BGP-PEER-PRIVATE-IP-ADDRESS]] password [[BGP-PEER-PASSWORD]]
 neighbor [[BGP-PEER-PRIVATE-IP-ADDRESS]] soft-reconfiguration inbound
 neighbor [[BGP-PEER-PRIVATE-IP-ADDRESS]] route-map rm.bgp-wan-in in
 neighbor [[BGP-PEER-PRIVATE-IP-ADDRESS]] route-map rm.bgp-wan-out out
!