!-----------------------------------------------------------------
! Cisco IOS Simple BGP Configuration
!-----------------------------------------------------------------
!
router bgp [[LOCAL-BGP-AS-NUMBER]]
 bgp router-id [[BGP-ROUTER-ID]]
 bgp always-compare-med
 bgp log-neighbor-changes
 timers bgp 4 16
 network [[LOCAL-NETWORK-INTO-BGP]] mask [[LOCAL-SUBNET-INTO-BGP]]
 neighbor [[BGP-PEER-PRIVATE-IP-ADDRESS]] remote-as [[REMOTE-BGP-AS-NUMBER]]
 neighbor [[BGP-PEER-PRIVATE-IP-ADDRESS]] description [[BGP-PEER-DESCRIPTION]]
 neighbor [[BGP-PEER-PRIVATE-IP-ADDRESS]] password [[BGP-PEER-PASSWORD]]
 neighbor [[BGP-PEER-PRIVATE-IP-ADDRESS]] soft-reconfiguration inbound
!
