! 4PEG Configuration Template
! http://4peg.com/zkqx1XvzVZNT
!-----------------------------------------------------------------
! Cisco IOS Router Basic NAT with Overload
!-----------------------------------------------------------------
!
interface [[OUTSIDE-INTERFACE]]
 ip nat outside
!
interface [[INSIDE-INTERFACE]]
 ip nat inside
!
!-- using a standard ACL
access-list 100 remark acl.nat-outbound
access-list 100 permit ip [[ALLOWED-NETWORK-IP]] [[WILDCARD-SUBNET-MASK]] any
!-- add addition permits for addition networks
!
!
ip nat inside source list 100 interface [[OUTSIDE-INTERFACE]] overload
!
###########################################################################################
!-----------------------------------------------------------------
! Cisco IOS Router Basic NAT with Overload
!-----------------------------------------------------------------
!
interface GigabitEthernet0/0
 ip nat outside
!
interface GigabitEthernet0/1
 ip nat inside
!
!-- using a standard ACL
access-list 100 remark acl.nat-outbound
access-list 100 permit ip 10.0.0.0 0.255.255.255 any
access-list 100 permit ip 172.16.0.0 0.15.255.255 any
access-list 100 permit ip 192.168.0.0 0.0.255.255 any
!-- add addition permits for addition networks
!
!
ip nat inside source list 100 interface GigabitEthernet0/0 overload
!
###########################################################################################