! 4PEG Configuration Template
! http://4peg.com/zkqx1XvzVZNT
!-----------------------------------------------------------------
! Cisco IOS Router Basic NAT with Overload
!-----------------------------------------------------------------
!
!--enter configuration mode
configure terminal
!
!--create prefix list to permit private addresses to the internet
ip prefix-list pl.{{rfc-1918}} description *** internet pat translation ***
ip prefix-list pl.{{rfc-1918}} seq 10 permit 10.0.0.0/8
ip prefix-list pl.{{rfc-1918}} seq 20 permit 172.16.0.0/12
ip prefix-list pl.{{rfc-1918}} seq 30 permit 192.168.0.0/16
!
!--assign the prefix list to a route-map
route-map rm.{{rfc-1918}} permit 10
 match ip address prefix-list pl.{{rfc-1918}}
exit
!
!--alloicate outside and inside interfaces
interface {{outside-interface}}
 ip nat outside
exit
!
interface {{inside-interface}}
 ip nat inside
exit
!
!--create source NAT with overload for PAT
ip nat inside source route-map rm.{{rfc-1918}} interface {{outside-interface}} overload
end
!
###########################################################################################
!-----------------------------------------------------------------
