! 4PEG Configuration Template
! http://4peg.com/wdCFXlrx11Z3
!-----------------------------------------------------------------
! IOS Router Basic IP SLA with a Floating Default Static Gateway
!-----------------------------------------------------------------
!
ip sla [[ip-sla-id]]
 icmp-echo [[primary-gateway-ip]] source-interface [[primary-interface]]
 threshold 3
 frequency 5
!
track 101 ip sla [[ip-sla-id]] reachability
!
ip route 0.0.0.0 0.0.0.0 [[primary-gateway-ip]] name T1 track 101
!-- Metric needs to be any number greater that 1. (i.e. 5 as an example)
ip route 0.0.0.0 0.0.0.0 [[secondary-gateway-ip]] [[metric]]
!
ip sla schedule [[ip-sla-id]] life forever start-time now
!
