! 4PEG Configuration Template
! http://4peg.com/88hDClgKbWJp
!------------------------------------------------------------------------
! Cisco IOS Router Site to Site VPN Tunnel Example using IKEv1
!------------------------------------------------------------------------
!------------------------------------------------------------------------
!IOS Route 1
!------------------------------------------------------------------------
!
crypto isakmp policy [[IKEv1-id-router1]]
 encryption aes 256
 hash sha256
 authentication pre-share
 group 19
 lifetime 86400
exit
!
crypto isakmp key [[pre-shared-key]] address [[destination-ip-of-router2]]
!
crypto isakmp keepalive 10
!
ip access-list extended [[router1-vpn-acl-name]]
 permit ip [[router1-local-network-ip]] [[router1-local-wildcard-subnet]] [[router2-local-network-ip]] [[router2-local-wildcard-subnet]]
exit
!
crypto ipsec transform-set [[IKEv1-id-router1]]-ts esp-aes esp-sha256-hmac
 crypto ipsec security-association lifetime seconds 86400
exit
!
crypto map [[router1-crypto-map-name]] [[router1-crypto-map-order-id]] ipsec-isakmp
set peer [[destination-ip-of-router2]]
set transform-set [[IKEv1-id-router1]]-ts
match address [[router1-vpn-acl-name]]
exit
!
interface GigabitEthernet0/0
 crypto map [[router1-crypto-map-name]]
exit
!
access-list [[router1-extended-acl-number]] deny ip [[router1-local-network-ip]] [[router1-local-wildcard-subnet]] [[router2-local-network-ip]] [[router2-local-wildcard-subnet]]
! Add addition Deny Statements for additional networks that you may wish to add to the VPN tunnel
access-list [[router1-extended-acl-number]] permit ip [[router1-local-network-ip]] [[router1-local-wildcard-subnet]] any
!
ip nat inside source list [[router1-extended-acl-number]] interface [[router1-outside-interface]] overload
!
!------------------------------------------------------------------------
!IOS Route 2
!------------------------------------------------------------------------
!
crypto isakmp policy [[IKEv1-id-router2]]
 encryption aes 256
 hash sha256
 authentication pre-share
 group 19
 lifetime 86400
exit
!
crypto isakmp key [[pre-shared-key]] address [[destination-ip-of-router1]]
!
crypto isakmp keepalive 10
!
ip access-list extended [[router2-vpn-acl-name]]
 permit ip [[router2-local-network-ip]] [[router2-local-wildcard-subnet]] [[router1-local-network-ip]] [[router1-local-wildcard-subnet]]
exit
!
crypto ipsec transform-set [[IKEv1-id-router2]]-ts esp-aes esp-sha256-hmac
 crypto ipsec security-association lifetime seconds 86400
exit
!
crypto map [[router2-crypto-map-name]] [[router2-crypto-map-order-id]] ipsec-isakmp
set peer [[destination-ip-of-router1]]
set transform-set [[IKEv1-id-router2]]-ts
match address [[router2-vpn-acl-name]]
exit
!
interface GigabitEthernet0/0
 crypto map [[router2-crypto-map-name]]
exit
!
access-list [[router2-extended-acl-number]] deny ip [[router2-local-network-ip]] [[router2-local-wildcard-subnet]] [[router1-local-network-ip]] [[router1-local-wildcard-subnet]]
! Add addition Deny Statements for additional networks that you may wish to add to the VPN tunnel
access-list [[router2-extended-acl-number]] permit ip [[router2-local-network-ip]] [[router2-local-wildcard-subnet]] any
!
ip nat inside source list [[router2-extended-acl-number]] interface [[router1-outside-interface]] overload
!
