!--------------------------------------------------------------------------
! Cisco NXOS RADUIS Configuration Example with Local Failback
!--------------------------------------------------------------------------
!
!################################################################
! Basic Configuration 
!################################################################
!
en
conf t
hostname [[DEVICE-NAME]]
line vty 0 4
 password [[VTY-PASSWORD]]
 login
 exit
line con 0
 password [[CONSOLE-PASSWORD]]
 login
 logging synchronous
 no exec-timeout
 exit
service password-encryption
enable secret [[ENABLE-PASSWORD]]
no ip domain-lookup
!
!
banner motd ^C
------------------------------------------------------------------
DO NOT LOG IN WITH OUT PERMISSION
------------------------------------------------------------------
^C
!
!################################################################
! Turn on IP Routing 
!################################################################
!
conf t
ip routing
exit
wr
!
!################################################################
! SSHv2 and Certification creation
!################################################################
!
conf t
aaa new-model
hostname [[DEVICE-NAME]]
ip domain-name [[IP-DOMAIN-NAME]]
crypto key generate rsa modulus [[KEY-SIZE-1024/2048/4096]]
ip ssh version 2
username [[DEVICE-USERNAME]] secret [[DEVICE-PASSWORD]]
!
line vty 0 4
 transport input ssh
 exit
exit
wr
!
