! 4PEG Configuration Template
! http://4peg.com/Nw0dVnrS3xq6
!------------------------------------------------------------------------
! Cisco IOS Router VTI VPN Tunnel Example using IKEv2
!------------------------------------------------------------------------
!
!----------------------------------------------------------------------- 
! Router 1 
!----------------------------------------------------------------------- 
!# Create an IKEv2 Policy 
! 
crypto ikev2 proposal [[ikev2-proposal-name]] 
encryption aes-cbc-256 
integrity sha512 
group 19 
! 
!# Create an IKEv2 Policy and reference the IKEv2 Proposal 
! 
crypto ikev2 policy [[ikev2-policy-name]] 
proposal [[ikev2-proposal-name]] 
! 
!# Define a IKEv2 Keyring and define the pre-shared key 
! 
crypto ikev2 keyring [[ikev2-keyring-name]] 
peer ALL 
address [[route-2-ipaddress/network]] [[router-2-subnetmask]]
pre-shared-key local [[psk-r1-to-r2]]
pre-shared-key remote [[psk-r2-to-r1]]
! 
!# Create an IKEv2 Profile 
! 
crypto ikev2 profile [[vti-profile-name]] 
match identity remote address [[route-2-ipaddress/network]] [[router-2-subnetmask]]
identity local address [[route-1-ipaddress]]
authentication local pre-share 
authentication remote pre-share 
keyring local [[ikev2-keyring-name]]
dpd 10 2 on-demand 
! 
!# Create an IPSec Transform Set 
! 
crypto ipsec transform-set [[transform-set-name]] esp-aes 256 esp-sha512-hmac 
! 
!# Create an IPSec Profile 
! 
crypto ipsec profile [[ipsec-profile-name]] 
set transform-set [[transform-set-name]] 
set ikev2-profile [[vti-profile-name]] 
! 
!# Create a Tunnel Interface 
! 
interface Tunnel[[tunnel-id-numer-r1]]
ip address [[tunnel-R1-ipaddress]] [[tunnel-subnetmask]]
tunnel source [[internet/wan-interface]]
tunnel mode ipsec ipv4 
tunnel destination [[route-2-ipaddress]] 
tunnel protection ipsec profile [[ipsec-profile-name]] 
! 
!# Create a static route to a remote network over the tunnel interface 
!# You can use dynamic routing protocols if you prefer
! 
ip route [[r2-network-ip]] [[r2-subnet-mask]] [[tunnel-R2-ipaddress]] 
! 
!----------------------------------------------------------------------- 
! Router 2 
!----------------------------------------------------------------------- 
!# Create an IKEv2 Policy 
! 
crypto ikev2 proposal [[ikev2-proposal-name]] 
encryption aes-cbc-256 
integrity sha512 
group 19 
! 
!# Create an IKEv2 Policy and reference the IKEv2 Proposal 
! 
crypto ikev2 policy [[ikev2-policy-name]] 
proposal [[ikev2-proposal-name]] 
! 
!# Define a IKEv2 Keyring and define the pre-shared key 
! 
crypto ikev2 keyring [[ikev2-keyring-name]]
peer ALL 
address [[route-1-ipaddress/network]] [[router-1-subnetmask]]
pre-shared-key local [[psk-r2-to-r1]]
pre-shared-key remote [[psk-r1-to-r2]]
! 
!# Create an IKEv2 Profile 
! 
crypto ikev2 profile [[vti-profile-name]] 
match identity remote address [[route-1-ipaddress/network]] [[router-1-subnetmask]]
identity local address [[route-2-ipaddress]]
authentication local pre-share 
authentication remote pre-share 
keyring local [[ikev2-keyring-name]]
dpd 10 2 on-demand 
! 
!# Create an IPSec Transform Set 
! 
crypto ipsec transform-set [[transform-set-name]] esp-aes 256 esp-sha512-hmac 
! 
!# Create an IPSec Profile 
! 
crypto ipsec profile [[ipsec-profile-name]] 
set transform-set [[transform-set-name]] 
set ikev2-profile [[vti-profile-name]] 
! 
!# Create a Tunnel Interface 
! 
interface Tunnel[[tunnel-id-numer-r2]]
ip address [[tunnel-R2-ipaddress]] [[tunnel-subnetmask]]
tunnel source [[internet/wan-interface]]
tunnel mode ipsec ipv4 
tunnel destination [[route-1-ipaddress]] 
tunnel protection ipsec profile [[ipsec-profile-name]] 
! 
!# Create a static route to a remote network over the tunnel interface 
!# You can use dynamic routing protocols if you prefer
! 
ip route [[r1-network-ip]] [[r1-subnet-mask]] [[tunnel-R1-ipaddress]]
!
