!
!-------------------------------------------------------
! TESTING INTERFACES
!-------------------------------------------------------
!
!
interface Loopback1001
 description cloudflair-1001
 ip address 1.0.0.1 255.255.255.255
 ipv6 address 2606:4700:4700::1001/128
!
interface Loopback1111
 description cloudflair-1111
 ip address 1.1.1.1 255.255.255.255
 ipv6 address 2606:4700:4700::1111/128
!
interface Loopback8844
 description google-8844
 ip address 8.8.4.4 255.255.255.255
 ipv6 address 2001:4860:4860::8844/128
!
interface Loopback8888
 description google-8888
 ip address 8.8.8.8 255.255.255.255
 ipv6 address 2001:4860:4860::8888/128
!
!-------------------------------------------------------
! IPv4 Reachability
!-------------------------------------------------------
!
track 41001 ip sla 41001 reachability
!
track 41111 ip sla 41111 reachability
!
track 48844 ip sla 48844 reachability
!
track 48888 ip sla 48888 reachability
!
!-------------------------------------------------------
! IPv4 IP SLA Tests
!-------------------------------------------------------
!
ip sla 41001
 icmp-echo 1.0.0.1
  frequency 5
ip sla schedule 41001 life forever start-time now
!
ip sla 41111
 icmp-echo 1.1.1.1
  frequency 5
ip sla schedule 41111 life forever start-time now
!
ip sla 48844
 icmp-echo 8.8.4.4
  frequency 5
ip sla schedule 48844 life forever start-time now
!
ip sla 48888
 icmp-echo 8.8.8.8
  frequency 5
ip sla schedule 48888 life forever start-time now
!
!-------------------------------------------------------
! IPv6 Reachability
!-------------------------------------------------------
!
track 61001 ip sla 61001 reachability
!
track 61111 ip sla 61111 reachability
!
track 68844 ip sla 68844 reachability
!
track 68888 ip sla 68888 reachability
!
!-------------------------------------------------------
! IPv6 IP SLA Tests
!-------------------------------------------------------
!
ip sla 61001
 icmp-echo 2606:4700:4700::1001
  frequency 5
ip sla schedule 61001 life forever start-time now
!
ip sla 61111
 icmp-echo 2606:4700:4700::1111
  frequency 5
ip sla schedule 61111 life forever start-time now
!
ip sla 68844
 icmp-echo 2001:4860:4860::8844
  frequency 5
ip sla schedule 68844 life forever start-time now
!
ip sla 68888
 icmp-echo 2001:4860:4860::8888
  frequency 5
ip sla schedule 68888 life forever start-time now
!
!-------------------------------------------------------
!
