!
!--IPv4 GW Tracks and IP SLA's, Default Route Failover and HA Failover
!
ip sla 1
 icmp-echo {{isp-gw-ip-1}}
  frequency 5
ip sla schedule 1 life forever start-time now
ip sla 2
 icmp-echo {{isp-gw-ip-2}}
  frequency 5
ip sla schedule 2 life forever start-time now
ip sla 3
 icmp-echo 192.0.2.1
  frequency 5
ip sla schedule 3 life forever start-time now
!
ip route 0.0.0.0 0.0.0.0 {{isp-gw-ip-1}} 10 track 1
ip route 0.0.0.0 0.0.0.0 {{isp-gw-ip-2}} 20 track 2
!
track 1 ip sla 1 reachability
!
track 2 ip sla 2 reachability
!
track 3 ip sla 3 reachability
 delay down 10 up 10
!
!
event manager applet Bring_Interfaces_Up
 event track 3 state down
 action 1.0 syslog msg "ALERT: IP SLA ICMP Echo to 192.0.2.2 failed; bringing up all interfaces."
 action 2.0 cli command "enable"
 action 2.1 cli command "configure terminal"
 action 3.0 cli command "interface Ethernet0/0"
 action 3.1 cli command "no shutdown"
 action 3.2 cli command "interface Ethernet0/1"
 action 3.3 cli command "no shutdown"
 action 3.4 cli command "interface Ethernet0/2"
 action 3.5 cli command "no shutdown"
 action 3.6 cli command "interface Ethernet0/3"
 action 3.7 cli command "no shutdown"
 action 4.0 cli command "end"
event manager applet Shut_Interfaces_Down
 event track 3 state up
 action 1.0 syslog msg "ALERT: IP SLA ICMP Echo to 192.0.2.2 restored; shutting down all interfaces."
 action 2.0 cli command "enable"
 action 2.1 cli command "configure terminal"
 action 3.0 cli command "interface Ethernet0/0"
 action 3.1 cli command "shutdown"
 action 3.2 cli command "interface Ethernet0/1"
 action 3.3 cli command "shutdown"
 action 3.4 cli command "interface Ethernet0/2"
 action 3.5 cli command "shutdown"
 action 3.6 cli command "interface Ethernet0/3"
 action 3.7 cli command "shutdown"
 action 4.0 cli command "end"
!
!--IPv4 Tracks and IP SLA's
!
track 101 ip sla 101 reachability
!
track 102 ip sla 102 reachability
!
track 103 ip sla 103 reachability
!
track 104 ip sla 104 reachability
!
ip sla 101
 icmp-echo 1.0.0.1
  frequency 5
ip sla schedule 101 life forever start-time now
ip sla 102
 icmp-echo 1.1.1.1
  frequency 5
ip sla schedule 102 life forever start-time now
ip sla 103
 icmp-echo 8.8.4.4
  frequency 5
ip sla schedule 103 life forever start-time now
ip sla 104
 icmp-echo 8.8.8.8
  frequency 5
ip sla schedule 104 life forever start-time now
!
!--IPv6 Tracks and IP SLA's
!
track 111 ip sla 111 reachability
!
track 112 ip sla 112 reachability
!
track 113 ip sla 113 reachability
!
track 114 ip sla 114 reachability
!
ip sla 111
 icmp-echo 2606:4700:4700::1001
  frequency 5
ip sla schedule 111 life forever start-time now
ip sla 112
 icmp-echo 2606:4700:4700::1111
  frequency 5
ip sla schedule 112 life forever start-time now
ip sla 113
 icmp-echo 2001:4860:4860::8844
  frequency 5
ip sla schedule 113 life forever start-time now
ip sla 114
 icmp-echo 2001:4860:4860::8888
  frequency 5
ip sla schedule 114 life forever start-time now
!