! 4PEG Configuration Template
! http://4peg.com/7h580MR06Np9
!--------------------------------------------------------------------------
! Cisco-NXOS-VPC-Configuration-Example
!--------------------------------------------------------------------------
!
!------------------------------------------------------------- 
! Switch 1 
!------------------------------------------------------------- 
!
interface mgmt0 
  vrf member management 
  ip address [[SW-1-IP-ADDRESS]]/[[CIDR]]
!
vpc domain 1 
  role priority 1 
  peer-keepalive destination [[SW-2-IP-ADDRESS]] source [[SW-1-IP-ADDRESS]]
  delay restore 120 
  peer-gateway 
  auto-recovery reload-delay 300 
  ip arp synchronize 
!
!------------------------------------------------------------- 
! Switch 2 
!------------------------------------------------------------- 
!
interface mgmt0 
  vrf member management 
  ip address [[SW-2-IP-ADDRESS]]/[[CIDR]]
!
vpc domain 1 
  role priority 2 
  peer-keepalive destination [[SW-1-IP-ADDRESS]] source [[SW-2-IP-ADDRESS]]
  delay restore 120 
  peer-gateway 
  auto-recovery reload-delay 300 
  ip arp synchronize 
!
