!--mst configuration is per switch and
!--mst regions must match to create a
!--mst spanning-tree topology
!
!--enable mst
spanning-tree mode mst
!
!--summary view of mst
show spanning-tree mst
!
!--summary of instance to vlan mappings
show spanning-tree mst configuration
!
!--summary of instance on a per-interface level
show spanning-tree mst interface [[interface-id]]
!
!--configure mst
spanning-tree mst configuration
 name [[region-name]]
 instance [[mst-instance]] vlan [[vlan-range]]
 !--pending changes in mst config mode
 show
 !--to save changes
exit
!
!--check the mst instance
show spanning-tree mst [[mst-instance]]
!
!--configuring root bridge
spanning-tree mst [[mst-instance]] root [[primary|secondary]]
!--or...
!--Bridge Priority must be in increments of 4096.
!--Allowed values are:      0 4096  8192  12288 16384 20480 24576 28672
!--                     32768 36864 40960 45056 49152 53248 57344 61440
spanning-tree mst [[mst-instance]] priority [[mst-priority-number]]
!
!--modify port cost
interface [[interface-id]]
 spanning-tree mst [[mst-instance]] cost [[cost-value]]
!--or...
 spanning-tree mst [[mst-instance]] port-priority [[port-priority-number]]
!