!--rstp configuration is per switch
!
!--configure RSTP(RPVTS+)
spanning-tree mode rapid-pvst
spanning-tree portfast default
spanning-tree extend system-id
!
!--configuring root bridge
spanning-tree vlan [[vlan-id]] root [[primary|secondary]]
!--or...
spanning-tree vlan [[vlan-id-or-range]] priority [[priority-id]]
!--Bridge Priority must be in increments of 4096.
!--Allowed values are:      0 4096  8192  12288 16384 20480 24576 28672
!--                     32768 36864 40960 45056 49152 53248 57344 61440
!
!--configure RSTP default behavour
spanning-tree portfast default
spanning-tree portfast bpduguard default
!
!--RSTP recovery configuration
errdisable recovery cause bpduguard
!--RSTP recovery timer
errdisable recovery interval 300
!
!-- access/edge ports
!-- i.e. clients/voip/printers/etc..
interface gigabitEthernet 0/0
 spanning-tree portfast
!
!-- trunk ports
!-- i.e. HV hosts/switches/routers/etc...
interface gigabitEthernet 0/0
 spanning-tree portfast trunk
!