!------------------------------------------------
!-- Cisco MDS Adding Device to Zone
!------------------------------------------------
!
!--save current configuration
copy run start
!
!--configuration mode
configure terminal
!
!--add device wwn's
device-alias database
 device-alias name [[device-name]] pwwn [[device-wwn]]
exit
device-alias commit
!
!--create zone
zone name [[device-name]]-[[zone-suffix]] vsan [[vsan-id]]
 member pwwn [[device-wwn]]
 member pwwn [[storage-wwn-1]]
 member pwwn [[storage-wwn-1]]
exit
!
!--add to zone set
zoneset name [[zoneset-name]] vsan [[vsan-id]]
 member [[device-name]]-[[zone-suffix]]
 zone commit vsan [[vsan-id]]
zoneset activate name [[zoneset-name]] vsan [[vsan-id]]
zone commit vsan [[vsan-id]]
!
!--configure port
interface fc1/[[port-id]]
 switchport description [[device-name]]
 switchport trunk mode off
 port-license acquire
 no shutdown
exit
exit
!
!--save modified configuration
copy run start
!
!--validate that the config is active
show flogi database details
show zoneset vsan [[vsan-id]]
show zoneset active vsan [[vsan-id]]
show vsan [[vsan-id]]
show fcns database detail vsan [[vsan-id]]
sh fcns database fcid [[fcid]] detail vsan [[vsan-id]]
sh interface fc[[interface-id]]
show zoneset active vsan [[vsan-id]]
!