ip prefix-list pl.redist-static-summary-ipv4 seq 5 permit 10.0.0.0/16 le 32
!
route-map rm.redist-static-ipv4 permit 10
 match ip address prefix-list pl.redist-static-summary-ipv4
!
router bgp {{bgp_asn_id}}
 address-family ipv4
  redistribute static route-map rm.redist-static-ipv4
  aggregate-address 10.0.0.0 255.255.0.0 summary-only
 exit-address-family