ipv6 prefix-list pl.redist-static-summary-ipv6 seq 5 permit 2001:db8::/32 le 128
!
route-map rm.redist-static-ipv4 permit 10
 match ipv6 address prefix-list pl.redist-static-summary-ipv6
!
router bgp {{bgp_asn_id}}
 address-family ipv6
  redistribute static route-map rm.redist-static-ipv4
  aggregate-address 2001:db8::/32 summary-only
 exit-address-family
