!
ip prefix-list pl.default-only-ipv4seq 5 permit 0.0.0.0/0
!
ipv6 prefix-list pl.default-only-ipv6 seq 5 permit ::/0
!
router bgp {{bgp_asn_id}}
 address-family ipv4
  neighbor {{ipv4_bgp_peer}} default-originate
  neighbor {{ipv4_bgp_peer}} prefix-list pl.default-only-ipv4out
 exit-address-family
 !
 address-family ipv6
  neighbor {{ipv6_bgp_peer}} default-originate
  neighbor {{ipv6_bgp_peer}} prefix-list pl.default-only-ipv6 out
 exit-address-family
!
show ip bgp neighbors {{ipv4_bgp_peer}} advertised-routes
show bgp ipv6 unicast neighbors {{ipv6_bgp_peer}} advertised-routes
!