! 4PEG Configuration Template
! http://4peg.com/D1ZFwsMgKRDB
!--------------------------------------------------------------------------
! Cisco NXOS RADUIS Configuration Example with Local Failback
!--------------------------------------------------------------------------
!
![[Radius Server Name1]] - Name of 1st Radius Server
![[Radius Server IP1]] - IP Address of 1st Radius Server
![[Pre-Shared Key1]] - Pre-Shared Key of 1st Radius Server
!
![[Radius Server Name2]] - Name of 2nd Radius Server
![[Radius Server IP2]] - IP Address of 2nd Radius Server
![[Pre-Shared Key2]] - Pre-Shared Key of 2nd Radius Server
!
aaa new-model
!
radius server [[Radius Server Name1]]
 address ipv4 [[Radius Server IP1]] auth-port 1812 acct-port 1813
 key [[Pre-Shared Key1]]
!
radius server [[Radius Server Name2]]
 address ipv4 [[Radius Server IP2]] auth-port 1812 acct-port 1813
 key [[Pre-Shared Key2]]
!
aaa group server radius RADIUS-SERVERS
    server name [[Radius Server Name1]]
    server name [[Radius Server Name2]]
!         
aaa authentication login AAA_RADIUS group RADIUS-SERVERS local
aaa authorization exec AAA_RADIUS group RADIUS-SERVERS local
!
line vty 0 15
  login authentication AAA_RADIUS
!
