! 4PEG Configuration Template
! http://4peg.com/TDSqW1D0qNwK
!------------------------------------------
! Cisco IOS TACACS Authentication Settings
!------------------------------------------
!
service password-encryption
!
username [[local-username]] secret [[local-password]]
!
enable secret [[enable-secret]]
!
aaa new-model
!
!--
tacacs server [[tacacs-server-name]]
 address ipv4 [[tacacs-server-ip]]
 key [[tacacs-pre-shared-key]]
 timeout 3
!
!--
aaa group server tacacs+ TACACS-SERVERS
 server name [[tacacs-server-name]]
!
!--
aaa authentication login default group tacacs+ local
aaa authorization exec default group tacacs+ if-authenticated
aaa accounting exec default start-stop group tacacs+
aaa accounting commands 15 default start-stop group tacacs+
aaa accounting network default start-stop group tacacs+
aaa sesson-id common
!