!-----------------------------------------------------------------
! Cisco NXOS TACACS+ Implementation
!-----------------------------------------------------------------
! [[SWITCH-NAME]]
!-----------------------------------------------------------------
!
!--save current configuration
copy running-config startup-config
!
!--enable TACACS+ feature
configure terminal
feature tacacs+
exit
!
!--save modified configuration
copy running-config startup-config
!
!--configure tacacs+ global pre-shared key
configure terminal
tacacs-server key 0 [[tacacs-key]]
exit
!
!--configure tacacs+ source-interface
configure terminal
ip tacacs source-interface [[tacacs-source-interface]]
exit
!
!--configure tacacs server group
configure terminal
tacacs-server host [[tacacs-host-1]]
tacacs-server host [[tacacs-host-2]]
aaa group server tacacs+ [[tacacs-server-group]]
 server [[tacacs-host-1]]
 server [[tacacs-host-2]]
 deadtime 10
!--use if multiple vrf context exist
 use-vrf [[vrf-name]]
 exit
exit
!
!--save modified configuration
copy running-config startup-config
!
!--validate the tacascs server hosts configuration
show tacacs-server
!
!--validate the tacascs server group configuration
!--ensure the vrf is correct
show tacacs-server groups
!
!--test tacacs+ configuration implementation
test aaa group test [[username]] [[password]]
!
!--confirm successful and failed requests
!--if any failed requests, resolve issue before adding "aaa" settings
show tacacs-server statistics [[tacacs-host-1]]
show tacacs-server statistics [[tacacs-host-2]]
!
!--configure
configure terminal
aaa accounting default group [[tacacs-server-group]]
aaa authorization commands default group [[tacacs-server-group]] local
aaa authorization config-commands default group [[tacacs-server-group]] local
aaa authentication login default group [[tacacs-server-group]]
exit
!
!--validate the tacascs server group configuration
show aaa authorization
!
!--test tacacs+ command authorization
test aaa authorization command-type commands default user [[username]] command reload
!
!--save modified configuration
copy running-config startup-config
!