!-------------------------------------------------------
! ROUTER 2
!-------------------------------------------------------
!
!--failover interface
interface Ethernet{{mod/slot/port_sec}}
 ip address {{failover_ip_sec}} {{failover_subnet}}
exit
!
!--ip sla tracker
track 1 ip sla 1 reachability
 delay down 10 up 10
exit
!
!--configuring ip sla test
ip sla 1
 icmp-echo {{failover_ip_pri}}
  frequency 5
exit
!
ip sla schedule 1 life forever start-time now
!
event manager applet BRING_INTERFACES_UP
 event track 1 state down
 action 1.0 syslog msg "ALERT: IP SLA ICMP Echo to PRIMARY failed; bringing up all interfaces, expecting monitoring interface."
 action 2.0 cli command "enable"
 action 2.1 cli command "configure terminal"
 action 3.0 cli command "interface range Ethernet{{mod/slot/start_port}}-{{end_port}}"
 action 3.1 cli command "no shutdown"
 action 4.0 cli command "end"
event manager applet SHUT_INTERFACES_DOWN
 event track 1 state up
 action 1.0 syslog msg "ALERT: IP SLA ICMP Echo to PRIMARY restored; shutting down all interfaces, expecting monitoring interface."
 action 2.0 cli command "enable"
 action 2.1 cli command "configure terminal"
 action 3.0 cli command "interface range Ethernet{{mod/slot/start_port}}-{{end_port}}"
 action 3.1 cli command "shutdown"
 action 4.0 cli command "end"
!