!
!-------------------------------------------------------
! ROUTER 1
!-------------------------------------------------------
!
!--failover interface
interface Ethernet{{mod/slot/port_pri}}
 ip address {{failover_ip_pri}} {{failover_subnet}}
exit
!
!--ip sla tracker
track 1 ip sla 1 reachability
 delay down 10 up 10
exit
!
!--configuring ip sla test
ip sla 1
 icmp-echo {{failover_ip_sec}}
  frequency 5
exit
!
ip sla schedule 1 life forever start-time now
!