!#################################################################
!Cisco MDS Upgrade or Downgrade
!#################################################################
!
!-----------------------------------------------------------------
! [[SWITCH-NAME]]
!-----------------------------------------------------------------
!
!--save the current configuration
copy run start
!
!--take a copy of the license usage
show license usage
!
!--take a copy license host-id
show license host-id
!
!--check for any older firmware file
dir bootflash:
!
!--delete older un-used firmware files
delete bootflash:[[kickstart-file]]
delete bootflash:[[firmware-file]]
!
!--copy new kickstart firmware
copy [[firmware-source]]/[[kickstart-file]] bootflash:[[kickstart-file]]
!
!--copy new firmware
copy [[firmware-source]]/[[firmware-file]] bootflash:[[firmware-file]]
!
!--use this command to confirm that the image has been successfully copied to flash
dir flash:*.bin
!
!--verify checksum
verify /md5 flash:[[kickstart-file]]
!
!--kickstart checksum should match: [[md5sum-checksum]]
!--[[cisco-url-validating-the-md5-checksum]]
!
!--verify checksum
verify /md5 flash:[[firmware-file]]
!
!--firmware checksum should match: [[md5sum-checksum]]
!--[[cisco-url-validating-the-md5-checksum]]
!
!--save the current configurationm, again.
copy run start
!
!--upgrade firmware
install all kickstart [[kickstart-file]] system [[firmware-file]]
!
!--verify the installed firmware once complete
show version
!