!#################################################################
!Cisco Nexus OS Upgrade or Downgrade
!#################################################################
!
!-----------------------------------------------------------------
! [[SWITCH-NAME]]
!-----------------------------------------------------------------
!
!--save the current configuration
copy run start
!
!--check for incompatible configurations, if errors halt change and fix before trying again.
show incompatibility-all nxos bootflash:[[firmware-file]]
!
!--verify the impact of the firmware upgrade and if a reboot is required
show install all impact nxos bootflash:[[firmware-file]]
!
!--save the current configurationm, again.
copy run start
!
!--upgrade firmware
install all nxos bootflash:[[firmware-file]]
!
!--to check on the upgrade status
show install all status
!
!--verify the installed firmware once complete
show version
!