!#################################################################
!Cisco Nexus OS Upgrade or Downgrade
!#################################################################
!
!-----------------------------------------------------------------
! [[SWITCH-NAME]]
!-----------------------------------------------------------------
!
!--save the current configuration
copy run start
!
!--check available free space
dir bootflash:
!
!--if free space is short, remove old Cisco Firmware Images
!
!--copy new firmware
copy [[firmware-source]]/[[firmware-file]] bootflash:[[firmware-file]]
!--or
copy [[firmware-source]]/[[firmware-file]] bootflash:[[firmware-file]] vrf [[vrf-name]]
!--or
copy [[firmware-source]]/[[firmware-file]] bootflash:[[firmware-file]] source-interface vlan [[vlan-id]]
!
!--verify checksum
show file bootflash:[[firmware-file]] md5sum
!
!--checksum should match: [[md5sum-checksum]]
!--[[cisco-url-validating-the-md5-checksum]]
!
!--check for incompatible configurations, if errors halt change and fix before trying again.
show incompatibility-all nxos bootflash:[[firmware-file]]
!
!--verify the impact of the firmware upgrade and if a reboot is required
show install all impact nxos bootflash:[[firmware-file]]
!
!--save the current configurationm, again.
copy run start
!
!--upgrade firmware
install all nxos bootflash:[[firmware-file]]
!
!--to check on the upgrade status
show install all status
!
!--verify the installed firmware once complete
show version
!