!#################################################################
! Cisco CAT9K IOS Upgrade
!#################################################################
!
!-----------------------------------------------------------------
! [[SWITCH-NAME]]
!-----------------------------------------------------------------
!
!--save the current configuration
write memory
!
!--clean up the software packages
request platform software package clean
!
!--remove the unnecessary packages
install remove inactive
!
!--copy new firmware
copy [[firmware-source]]/[[firmware-file]] flash:
!
!--use this command to confirm that the image has been successfully copied to flash
dir flash:*.bin
!
!--verify checksum
verify /md5 flash:[[firmware-file]]
!
!--checksum should match: [[md5sum-checksum]]
!--[[cisco-url-validating-the-md5-checksum]]
!
!--set the boot variable
configure terminal
no boot system
boot system flash:packages.conf
end
!
!--confirm the update boot variable
show boot system
!
!--save the amended configuration
write memory
!
!--install the new firmware, this command will force a reboot once the firmware has been installed
install add file flash:[[firmware-file]] activate commit
!
!--verify the new packages have been installed
dir flash:*.pkg
show install summary
show version
!
!--perform cleanup of pervious firmware
install remove inactive
!