! 4PEG Configuration Template
! http://4peg.com/SQ8w7xcNJHxN
!-------------------------------------------------------
! Cisco IOS Switch Port Channel Configuration Example
!-------------------------------------------------------
! ** first configure you required port-channel **
interface port-channel [[port-channel-id]]
! ### INSERT YOU SWITCHPORT MODE, VLANS and other configuration details here ###
 end
!
! Link Aggregation Control Protocol (LACP)
! Supported Configurations:
! * SW1 active - SW2 active
! * SW1 active - SW2 passive
! * SW1 passive - SW2 active
!
! ** to be ran against each interface within the port channel group **
interface [[interface-name]]
 channel-group [[port-channel-id]] mode [[lacp-mode]]
 end
!
!
! Port Aggregation Protocol (PAgP)
! Supported Configurations:
! * SW1 desirable - SW2 desirable
! * SW1 desirable - SW2 auto
! * SW1 auto - SW2 desirable
!
! ** to be ran against each interface within the port channel group **
interface [[interface-name]]
 channel-group [[port-channel-id]] mode [[PAgP-mode]]
 end
!
!
! Manual Etherchannel
! ** to be ran against each interface within the port channel group **
interface [[interface-name]]
 channel-group [[port-channel-id]] mode on
 end
!
! verify port-channel and operation
show etherchannel [[port-channel-id]] detail
show etherchannel [[port-channel-id]] summary
show etherchannel summary
show interface [[interface-name]] etherchannel
!
! LACP Port Priority
interface [[interface-name]]
 lacp port-priority [[lacp-priority]]
!
! Load Balancing Methods
!   dst-ip      dst ip address
!   dst-mac     dst mac address
!   src-dst-ip  src XOR dst ip address
!   src-dst-mac src XOR dst mac address
!   src-ip      src ip address
!   src-mac     src mac address
port-channel load-balance [[load-balance-method]]
!
! confirm configuration
show etherchannel load-balance
test etherchannel load-balance interface port-channel [[port-channel-id]] [[ip|ipv6|mac]] [[source]] [[destination]]
!