!
!--storm control
!--broadcast configuration example
interface [[interface-id]]
 storm-control broadcast level 10.00 5.00
 storm-control multicast level 20.00 10.00
 storm-control action shutdown
!
!--allow storm-control interface recovery
errdisable recovery cause storm-control
!--(optional as default recovery timer is 300 seconds/5 minutes)
errdisable recovery interval [[recovery-timer]]
!
!--troubleshooting commands
show interfaces summary
show interface [[interface-id]] |  include rate|broadcast
show storm-control broadcast
show storm-control multicast
!