! 4PEG Configuration Template
!
!--------------------------------------------------------------------------
! Cisco IOS Switch DHCP Snooping Configuration Example
!--------------------------------------------------------------------------
!
!--enable dhcp snooping
ip dhcp snooping
!
!--configure it for vlans
ip dhcp snooping vlan [[vlan-id or ranges-of-vlans]]
!
!--disable option 82 (if you need to disable it)
no ip dhcp snooping information option
!
!--trust interface to reply to dhcp requests
interface [[interface-id]]
 ip dhcp snooping trust
!
!--enable a persist dhcp snooping database
!--useful after switch reloads
ip dhcp snooping database [[storage-location]]:[[filename]].txt
!
!--troubleshooting
show ip dhcp snooping
show ip dhcp snooping binding
show ip dhcp snooping database
!
!--------------------------------------------------------------------------
! Cisco IOS Switch IP Soruce Guard Configuration Example
!--------------------------------------------------------------------------
!
!--configure IP Souce Guard on ports
interface [[interface-id or interface-range]]
 ip verify source
!
!--static verified source binding
ip source binding [[verified-mac-address]] vlan [[vlan-id]] [[verified-ip-address]] interface [[verified-interface-id]]
!
!--troubleshooting
show ip verify source
show ip source binding
!
!--------------------------------------------------------------------------
! Cisco IOS Switch Dynamic ARP Inspection Configuration Example
!--------------------------------------------------------------------------
!
!--enable dynamic arp inspection
ip arp inspection [[vlan-id or ranges-of-vlans]]
!
