! 4PEG Configuration Template
! 
!-------------------------------------------------------
! Cisco IOS Switch SPAN Configutration Example
!-------------------------------------------------------
!
!-------------------------------------------------------
! Monitoring an Interface
! Can be a physical Interface or EtherChannel as source
!-------------------------------------------------------
!
!--SPAN a Physical Interface
monitor session [[span-id]] source interface [[source-interface]] [[rx|tx|both]]
!
!--SPAN Multiple Physical Interfaces Using a Range
monitor session [[span-id]] source interface [[first-interface]]-[[last-interface]] [[rx|tx|both]]
!
!--SPAN Multiple Physical Interfaces Using a Range and another Range
monitor session [[span-id]] source interface [[first-interface-1]]-[[last-interface-1]],[[first-interface-2]]-[[last-interface-2]] [[rx|tx|both]]
!
!--SPAN Destination Traffic
!--Single interface only, no EtherChannels
monitor session [[span-id]] destination interface [[destination-interface]]
!
!-------------------------------------------------------
! Monitoring a VLAN
!-------------------------------------------------------
!
!--SPAN a sinle VLAN
mmonitor session [[span-id]] source vlan [[vlan-id]] [[rx|tx|both]]
!
!--SPAN Multiple VLANs a Range
monitor session [[span-id]] source interface [[first-vlan]]-[[last-vlan]] [[rx|tx|both]]
!
!--SPAN Multiple VLANs a Range and another Range
monitor session [[span-id]] source interface [[first-vlan-1]]-[[last-vlan-1]],[[first-vlan-2]]-[[last-vlan-2]] [[rx|tx|both]]
!
!--SPAN Multiple individual VLANs
monitor session [[span-id]] source interface [[vlan-1]],[[vlan-2]],vlan-3]],[[etc...]] [[rx|tx|both]]
!
!--SPAN Destination Traffic
!--Single interface only, no EtherChannels
monitor session [[span-id]] destination interface [[destination-interface]]
!
!-------------------------------------------------------
! VLAN Filtering
!-------------------------------------------------------
!
!--Interface must be a trunk interface or EtherChannel
monitor session [[span-id]] source interface [[source-interface]] [[rx|tx|both]]
!
!--Filter on the VLAN Traffic you want to monitor
!--You can filter any number of VLANs
monitor session [[span-id]] filter vlan [[vlan-id]]
!
!--SPAN Destination Traffic
!--Single interface only, no EtherChannels
monitor session [[span-id]] destination interface [[destination-interface]]
!
!
!--Debug Commands
show monitor session [[span-id]]
show monitor session all
!