!
!--allow port-security interface recovery
errdisable recovery cause psecure-violation
!--(optional as default recovery timer is 300 seconds/5 minutes)
errdisable recovery interval [[recovery-timer]]
!
interface [[interface-id]]
 switchport mode access
 switchport port-security
 !--(optional) maximum concurrent MAC addresses
 switchport port-security maximum [[max-macs-allows]]
 !--(optional) automatically configured sticky learnt MAC address
 switchport port-security mac-address sticky
 !--(optional) configure a static MAC address
 switchport port-security mac-address [[]]
 !--violation action
 switchport port-security violation [[protect|restrict|shutdown]]
!
!--troubleshooting commands
show mac address-table
show 