! 4PEG Configuration Template
! 
!-------------------------------------------------------
! Cisco IOS Switch RSPAN Configutration Example
!-------------------------------------------------------
!
!-------------------------------------------------------
! RSPAN VLAN
! Must be configured on all switches in the path from
! the source to the destination
!-------------------------------------------------------
!
vlan [[rspan-vlan-id]]
 name RSPAN[[rspan-vlan-id]]
 remote-span
exit
!
!-------------------------------------------------------
! Sending Device
! (Single Interface/VLAN example shown)
!-------------------------------------------------------
!
!--RSPAN a Physical Interface
monitor session [[span-id]] source interface [[source-interface]] [[rx|tx|both]]
!
!--RSPAN a sinle VLAN
mmonitor session [[span-id]] source vlan [[vlan-id]] [[rx|tx|both]]
!
!--RSPAN Destination VLAN
monitor session [[span-id]] destination remote vlan [[rspan-vlan-id]]
!
!-------------------------------------------------------
! Receving Device
!-------------------------------------------------------
!
!--RSPAN Destination Inteface
monitor session [[span-id]] destination interface [[destination-interface]]
!
!--RSPAN Source VLAN
monitor session [[span-id]] source remote vlan [[rspan-vlan-id]]
!
!--Debug Commands
show vlan remote-span
show monitor session [[span-id]]
show monitor session all
!