!
ip dhcp excluded-address [[start-of-ip-exclusion]] [[end-of-ip-exclusion]]
!
ip dhcp pool [[dhcp-pool-name]]
 network [[network-ip]] [[subnet-mask]]
 default-router [[gateway-ip]]
 dns-server [[primary-dns-server-ip]] [[secondary-dns-server-ip]]
 domain-name [[domain-name-for-pool]]
 lease 7
 !--DHCP reservation
 address [[reservated-ip]] hardware-address [[mac-address]]
!
!--troubleshooting commands
show ip dhcp pool
show ip dhcp binding
!