!
aaa new-model
!
aaa authentication login default local
aaa authentication login vty local
aaa authorization exec default local if-authenticated
!
aaa session-id common
!
line con 0
 exec-timeout 60 0
 logging synchronous
 stopbits 1
line vty 0 4
 exec-timeout 60 0
 logging synchronous
 transport input ssh
line vty 5 15
 exec-timeout 60 0
 logging synchronous
 transport input ssh
!
!--newer ios firmware
line vty 16 31
 exec-timeout 60 0
 logging synchronous
 transport input ssh
!