!-----------------------------------------------------------------
! Cisco NTP Configuration Examples
!-----------------------------------------------------------------
! For Daylight Savings Time Adjustments
! https://en.wikipedia.org/wiki/Daylight_saving_time_by_country
! https://fastreroute.com/cisco-clock-timezone-configuration/
!-----------------------------------------------------------------
! Cisco NXOS
!-----------------------------------------------------------------
!
!--turn on ntp feature
configuration terminal
feature ntp
exit
copy running-config startup-config
!
!--configure ntp sources
ntp server [[ntp-server-1]] prefer use-vrf [[vrf-name]]
ntp server [[ntp-server-2]] use-vrf [[vrf-name]]
!
!--configure a layer 3 interface
ntp source-interface vlan[[vlan-id]]
!
!
clock timezone [[timezone-code]] [[tz-hrs]] [[tz-mins]]
!
!--US Standard Daylight Savings Time Change
clock summer-time [[dst-timezone-code]] 1 Sunday March 02:00 1 Sunday November 02:00 [[shift-minutes]]
!
!--European Daylight Savings Time Change
clock summer-time [[dst-timezone-code]] 5 Sunday March 02:00 5 Sunday October 02:00 [[shift-minutes]]
!
!--
copy running-config startup-config
!
!--
show ntp peers
show ntp peer-status
show ntp source-interface
!
!-----------------------------------------------------------------
! Cisco IOS/IOS-XE
!-----------------------------------------------------------------
!
!--configure ntp sources
ntp server [[ntp-server-1]] prefer
ntp server [[ntp-server-2]]
!
!--
clock timezone [[timezone-code]] 0 0
clock summer-time [[dst-timezone-code]] recurring last Sun Mar 1:00 last Sun Oct 1:00 60
!