! 4PEG Configuration Template
! http://4peg.com/NqdHlg7Mtphv
!-----------------------------------------------------------------
! Cisco IOS First-Hop-Redundancy-Protocol Example Configuration
!-----------------------------------------------------------------
!
!-- enable ip routing to allow a device to route
ip routing
!
!-----------------------------------------------------------------
! HSRP (Hot-Standby Routing Protocol)
!-----------------------------------------------------------------
!
!-- HSRP Interface 1
interface [[interface-id-1]]
 ip address [[network]].[[interface-ip-1]] [[subnet-mask]]
 standby [[hsrp-group]] ip [[hsrp-vip]]
 standby [[hsrp-group]] preempt
 standby [[hsrp-group]] priority [[interface-1-priority]]
 !-- Tracking State
 !..add the required interfaces as needed, 2 as an example
 standby [[hsrp-group]] track [[tracked-interface-1a]] [[decremt-value]]
 standby [[hsrp-group]] track [[tracked-interface-1b]] [[decremt-value]]
 !--Authentication
 standby [[hsrp-group]] authentication md5 key-string [[hsrp-pass]]
!
!-- HSRP Interface 2
interface [[interface-id-2]]
 ip address [[network]].[[interface-ip-2]] [[subnet-mask]]
 standby [[hsrp-group]] ip [[hsrp-vip]]
 standby [[hsrp-group]] preempt
 standby [[hsrp-group]] priority [[interface-2-priority]]
 !-- Tracking State
 !..add the required interfaces as needed, 2 as an example
 standby [[hsrp-group]] track [[tracked-interface-2a]] [[decremt-value]]
 standby [[hsrp-group]] track [[tracked-interface-2b]] [[decremt-value]]
 !--Authentication
 standby [[hsrp-group]] authentication md5 key-string [[hsrp-pass]]
!
!--debug commands
show standby
show standby all
show standby brief
show standby neighbors
show track
show track brief
!
!-----------------------------------------------------------------
! VRRP (Virtual Router Redundancy Protocol)
!-----------------------------------------------------------------
!
!-- Tracking Interface State
track [[track-id-1]] interface [[tracked-interface-1]] line-protocol
!
!-- VRRP Interface 1
interface [[interface-id-1]]
 ip address [[network]].[[interface-ip-1]] [[subnet-mask]]
 vrrp [[vrrp-group]] ip [[vrrp-vip]]
 vrrp [[vrrp-group]] preempt
 vrrp [[vrrp-group]] priority [[interface-1-priority]]
 !-- Tracking State
 !..add the required interfaces as needed, 1 as an example
 vrrp [[vrrp-group]] track [[track-id-1]] decremt [[decremt-value]]
  !--Authentication
 vrrp [[vrrp-group]] authentication [[vrrp-pass]]
!
!-- Tracking Interface State
track [[track-id-2]] interface [[tracked-interface-2]] line-protocol
!
!-- VRRP Interface 2
interface [[interface-id-2]]
 ip address [[network]].[[interface-ip-2]] [[subnet-mask]]
 vrrp [[vrrp-group]] ip [[vrrp-vip]]
 vrrp [[vrrp-group]] preempt
 vrrp [[vrrp-group]] priority [[interface-2-priority]]
 !-- Tracking State
 !..add the required interfaces as needed, 1 as an example
 vrrp [[vrrp-group]] track [[tracked-interface-2]] [[decremt-value]]
 !--Authentication
 vrrp [[vrrp-group]] authentication [[vrrp-pass]]
!
!--debug commands
show vrrp
show vrrp all
show vrrp brief
show vrrp interface [[interface-id]]
show track
show track brief
!
!-----------------------------------------------------------------
! GLBP (Gateway Load-Balancing Protocol)
!-----------------------------------------------------------------
!
!-- GLBP Interface 1
interface [[interface-id-1]]
 ip address ip address [[network]].[[interface-ip-1]] [[subnet-mask]]
 glbp [[glbp-group]] ip [[glbp-vip]]
 glbp [[glbp-group]] load-balancing [[host-dependent|round-robin|weighted]]
 !--If you need to apply and GLBP weighting metric
 glbp [[glbp-group]] weighting [[interface-1-weighting]]
 !--Active Virtual Gateway Preempt
 glbp [[glbp-group]] preempt
 !--Active Virtual Forward Preempt (enabled by default)
 glbp [[glbp-group]] forwarder preempt
 glbp [[glbp-group]] priority [[interface-1-priority]]
 !--Authentication
 glbp [[glbp-group]] authentication md5 key-string [[glbp-pass]]
!
!-- GLBP Interface 2
interface [[interface-id-2]]
 ip address ip address [[network]].[[interface-ip-2]] [[subnet-mask]]
 glbp [[glbp-group]] ip [[glbp-vip]]
 glbp [[glbp-group]] load-balancing [[host-dependent|round-robin|weighted]]
 !--If you need to apply and GLBP weighting metric
 glbp [[glbp-group]] weighting [[interface-2-weighting]]
 !--Active Virtual Gateway Preempt
 glbp [[glbp-group]] preempt
 !--Active Virtual Forward Preempt (enabled by default)
 glbp [[glbp-group]] forwarder preempt
 glbp [[glbp-group]] priority [[interface-2-priority]]
 !--Authentication
 glbp [[glbp-group]] authentication md5 key-string [[glbp-pass]]
!
!-- GLBP Interface 3 & 4
!-- up to 4 GLBP nodes can be configured
!
!--debug commands
show glbp
show glbp detail
show glbp brief
!