! 4PEG Configuration Template
! http://4peg.com/NRJCd2k8pDqR
!--------------------------------------------------------------------------
! Cisco Configuration archive Example
! Log configuration changes to local flash and keep for upto 14 days
! Passwords/Keys with not be recorded
! also will push to syslog and local logging buffer
!--------------------------------------------------------------------------
!
archive 
log config 
  logging enable 
  logging size 500 
  notify syslog contenttype plaintext 
  hidekeys 
path flash:archived-config 
maximum 14 
write-memory 
time-period 1440 
!
