!--------------------------------------------------------------------------
! Only Allow IOS device to get NTP and not serve
!--------------------------------------------------------------------------
!
!--save current configuration
write memory
!
!--create a default deny all access-list
ip access-list extended acl.block-all
 deny   ip any any
!
!--create a ntp permit access-list
ip access-list extended acl.ntp-permit
 10 permit udp any host [[ntp-source-ip-1]] eq ntp
 20 permit udp any host [[ntp-source-ip-2]] eq ntp
 30 etc...
 !--or...
 40 permit udp any any eq ntp
 50 etc...
 90 deny ip any any
!
!--implemented ntp access-group controls
ntp access-group query-only acl.block-all
ntp access-group serve acl.block-all
ntp access-group peer acl.ntp-permit
ntp access-group serve-only acl.block-all
!
!--save modified configuration
write memory
!
