! 4PEG Configuration Template
! 
!-----------------------------------------------------------------
! Cisco IOS Basic Read Only Local Account (IOS 15+)
!-----------------------------------------------------------------
!
!--configure user mode to support views
aaa new-model 
aaa authentication login default local
aaa authentication enable default enable
aaa authorization exec default local
!
!--to give the user all show, ping and traceroute command access
parser view [[view-name]]
 secret [[view-password]]
 commands exec include all traceroute
 commands exec include all ping
 commands exec include all show
!
!--create user and assign the limited view
username [[username]] privilege 15 view [[view-name]] secret [[password]]
!
