! 4PEG Configuration Template
! http://4peg.com/NqdHlg7Mtphv
!-----------------------------------------------------------------
! Cisco IOS HSRP IPv6 Example Configuration
!-----------------------------------------------------------------
!
!-- enable ipv6 routing to allow a device to route
ipv6 unicast-routing
!
!-----------------------------------------------------------------
! Quad-Zero tracking statements
!-----------------------------------------------------------------
track [[track-id-ipv4]] ip route 0.0.0.0 0.0.0.0 reachability
!
track [[track-id-ipv6]] ipv6 route ::/0 reachability
!
!-----------------------------------------------------------------
! HSRP (Hot-Standby Routing Protocol)
!-----------------------------------------------------------------
!
!-- HSRP Interface 1
interface [[interface-id-1]]
!-- HSRP IPv4 Interface
 ip address [[ipv4-network]].[[ip-v4-interface-ip-1]] [[ipv4-subnet-mask]]
 standby [[ipv4-hsrp-group]] ip [[ipv4-hsrp-vip]]
 standby [[ipv4-hsrp-group]] preempt
 standby [[ipv4-hsrp-group]] priority [[interface-1-priority]]
 !-- Tracking State
 !..add the required interfaces as needed, 2 as an example
 standby [[ipv4-hsrp-group]] track [[track-id-ipv4]] decrement [[decremt-value]]
  !--Authentication
 standby [[ipv4-hsrp-group]] authentication md5 key-string [[ipv4-hsrp-key]]
 !
 !-- HSRP IPv6 Interface
 ipv6 address [[ipv6-network]]:[[ip-v6-interface-ip-1]]/[[ipv6-subnet-mask]]
 standby [[ipv6-hsrp-group]] ip [[ipv6-hsrp-vip]]
 standby [[ipv6-hsrp-group]] preempt
 standby [[ipv6-hsrp-group]] priority [[interface-1-priority]]
 !-- Tracking State
 !..add the required interfaces as needed, 2 as an example
 standby [[ipv6-hsrp-group]] track [[track-id-ipv6]] decrement [[decremt-value]]
  !--Authentication
 standby [[ipv6-hsrp-group]] authentication md5 key-string [[ipv6-hsrp-key]]
!
!-- HSRP Interface 2
!-- HSRP IPv4 Interface
 ip address [[ipv4-network]].[[ip-v4-interface-ip-2]] [[ipv4-subnet-mask]]
 standby [[ipv4-hsrp-group]] ip [[ipv4-hsrp-vip]]
 standby [[ipv4-hsrp-group]] preempt
 standby [[ipv4-hsrp-group]] priority [[interface-1-priority]]
 !-- Tracking State
 !..add the required interfaces as needed, 2 as an example
 standby [[ipv4-hsrp-group]] track [[track-id-ipv4]] decrement [[decremt-value]]
  !--Authentication
 standby [[ipv4-hsrp-group]] authentication md5 key-string [[ipv4-hsrp-key]]
 !
 !-- HSRP IPv6 Interface
 ipv6 address [[ipv6-network]]:[[ip-v6-interface-ip-2]]/[[ipv6-subnet-mask]]
 standby [[ipv6-hsrp-group]] ip [[ipv6-hsrp-vip]]
 standby [[ipv6-hsrp-group]] preempt
 standby [[ipv6-hsrp-group]] priority [[interface-2-priority]]
 !-- Tracking State
 !..add the required interfaces as needed, 2 as an example
 standby [[ipv6-hsrp-group]] track [[track-id-ipv6]] decrement [[decremt-value]]
  !--Authentication
 standby [[ipv6-hsrp-group]] authentication md5 key-string [[ipv6-hsrp-key]]
!
!-----------------------------------------------------------------
! debug commands
!-----------------------------------------------------------------
show standby
show standby all
show standby brief
show standby neighbors
show track
show track brief
show ipv6 neighbors
!