! 4PEG Configuration Template
! http://4peg.com/WQJS62Q59kvk
!-------------------------------------------------------
! Cisco Layer2 Switch General Configuration v2
!-------------------------------------------------------
! 
no service pad 
service timestamps debug uptime 
service timestamps log uptime 
service password-encryption 
! 
hostname [[DEVICE-HOSTNAME]]
! 
logging buffered 1024000 debugging 
enable secret [[ENABLE-PASSWORD]]
! 
username [[DEVICE-USERNAME]] privilege 15 password [[DEVICE-PASSWORD]]
aaa new-model
aaa authentication login default local
aaa authorization exec default local
! 
aaa session-id common 
clock timezone GMT 0 
clock summer-time BST recurring last Sun Mar 2:00 last Sun Oct 2:00 
vtp mode transparent 
ip subnet-zero 
no ip source-route 
ip routing 
no ip domain-lookup 
ip domain-name [[DOMAIN-NAME]]
!
crypto key generate rsa modulus [[KEY-SIZE-1024/2048/4096]]
ip ssh version 2
! 
! 
! 
errdisable recovery cause bpduguard 
errdisable recovery cause link-flap 
errdisable recovery cause storm-control 
port-channel load-balance src-dst-ip 
!
! 
spanning-tree mode rapid-pvst 
spanning-tree portfast default 
spanning-tree extend system-id 
spanning-tree vlan 1-4094 priority [[SPANNING-TREE-PRIORITY]]
! 
vlan internal allocation policy ascending 
! 
vlan [[MANAGEMENT-VLAN-ID]]
 name [[MANAGEMENT-VLAN-NAME]]
!
vlan [[ACCESS-VLAN-ID]]
 name [[ACCESS-VLAN-NAME]]
!
vlan [[VOICE-VLAN-ID]]
 name [[VOICE-VLAN-NAME]]
! 
interface range FastEthernet1/0/[[FE-FIRST-PORT]]-[[FE-LAST-PORT]]
 description *** [[FE-PORT-DESCRIPTION]] *** 
 switchport access vlan [[ACCESS-VLAN-ID]]
 switchport mode access 
 switchport voice vlan [[VOICE-VLAN-ID]]
 no mdix auto 
 storm-control broadcast level 5.00 
 storm-control multicast level 20.00 
 storm-control action shutdown 
 spanning-tree portfast 
 spanning-tree bpduguard enable
 no shutdown
! 
interface range GigabitEthernet1/0/[[GE-FIRST-PORT]]-[[GE-LAST-PORT]]
 description *** [[GE-PORT-DESCRIPTION]] *** 
 switchport access vlan [[ACCESS-VLAN-ID]]
 switchport mode access
 switchport voice vlan [[VOICE-VLAN-ID]]
 no mdix auto 
 storm-control broadcast level 5.00 
 storm-control multicast level 20.00 
 storm-control action shutdown 
 spanning-tree portfast 
 spanning-tree bpduguard enable
 no shutdown
! 
interface Vlan[[MANAGEMENT-VLAN-ID]]
 description *** [[MANAGEMENT-VLAN-NAME]] ***
 ip address [[MANAGEMENT-VLAN-IP-ADDRESS]] [[MANAGEMENT-VLAN-SUBNET-MASK]]
 no ip redirects 
 no ip unreachables 
 no ip proxy-arp 
 no shutdown
!
!
ip classless 
ip route 0.0.0.0 0.0.0.0 [[DEFAULT-GATEWAY-IP-ADDRESS]] 
no ip http server 
no ip https server 
!
! 
control-plane 
! 
! 
line con 0 
 exec-timeout 15 0 
 logging synchronous 
line vty 0 4 
 exec-timeout 15 0 
 logging synchronous 
 transport input ssh
line vty 5 15 
 exec-timeout 15 0 
 logging synchronous 
 transport input ssh
!
!---Time settings
clock timezone [[TIME-ZONE]]] [[UTC-HOURS-OFFSET]] [[UTC-MINUTES-OFFSET]]
!---Example below is a Day-Light Saving Time adjust configuration for UK/EU
clock summer-time [[DST-TIME-ZONE]]] recurring last Sun Mar 2:00 last Sun Oct 2:00
ntp server [[NTP-SERVER-1]]
ntp server [[NTP-SERVER-2]]
! 
end
!
