!---------------------------------------------------
! SSH Configuration Example
!---------------------------------------------------
!--device name and domain require for cert name
hostname [[device-name]]
ip domain name [[domain-name]]
!
!--create ssh key and set version and min length
crypto key generate rsa modulus 4096
ip ssh version 2
ip ssh dh min size 4096 
!
!--only permit ssh connections to the device
line vty 0 4
 transport input ssh
!
line vty 5 15
 transport input ssh
!
!--for newer devices like the CAT9K switches
line vty 16 31
 transport input ssh
!
!--configure the algorith strength
ip ssh server algorithm encryption aes256-ctr aes256-gcm
ip ssh server algorithm mac hmac-sha2-256 hmac-sha2-512
!
!—for older devices that do not support the above
ip ssh server algorithm encryption aes256-ctr
ip ssh server algorithm mac hmac-sha1
!
