! 4PEG Configuration Template
! http://4peg.com/FXN7wV8JZqLP
!-------------------------------------------------------------------
! Cisco IOS-XR VSS Configuration Example
!-------------------------------------------------------------------
! ** Switch 1 **
!
enable
switch 1 priority 15
!
configuration terminal
stackwise-virtual
 domain [[domain-id-(1-255)]]
 end
!
interface [[sw1-vss-interface-1]]
 stackwise-virtual link [[vss-link-id]]
 description stackwise virtual link (SVL)
!
interface [[sw1-vss-interface-2]]
 stackwise-virtual link [[vss-link-id]]
 description stackwise virtual link (SVL)
!
interface [[sw1-vss-interface-3]]
 stackwise-virtual link [[vss-link-id]]
 description stackwise virtual link (SVL)
!
interface [[sw1-vss-dad-interface-1]]
 stackwise-virtual dual-active-detection
 description stackwise dual-active-detection (DAD) link
!
end
!
write memory
reload
!
! ** Switch 2 **
!
enable
switch 1 renumber 2
yes
switch 1 priority 14
!
configuration terminal
stackwise-virtual
 domain [[domain-id-(1-255)]]
 end
!
interface [[sw2-vss-interface-1]]
 stackwise-virtual link [[vss-link-id]]
 description stackwise virtual link (SVL)
!
interface [[sw2-vss-interface-2]]
 stackwise-virtual link [[vss-link-id]]
 description stackwise virtual link (SVL)
!
interface [[sw2-vss-interface-3]]
 stackwise-virtual link [[vss-link-id]]
 description stackwise virtual link (SVL)
!
interface [[sw2-vss-dad-interface-1]]
 stackwise-virtual dual-active-detection
 description stackwise dual-active-detection (DAD) link
!
end
!
write memory
reload
!
! ** validate configuration **
!
show stackwise-virtual link
show stackwise-virtual switch [[number <1-2>]]
show stackwise-virtual bandwidth
show stackwise-virtual neighbors
show stackwise-virtual dual-active-detection
show stackwise-virtual dual-active-detection pagp
show redundancy
!
! ** additional commands for troubleshooting **
redundancy force-switchover
redundancy reload peer
!
!
! ** Optional ePAgP Dual-Active-Detection **
! ** to provide bundled links for Dual-Active-Detection **
! ** Switch 1 **
interface interface [[sw1-vss-dad-interface-1]]
 channel-group [[sw1-epagp-dad-interface]] mode desirable
exit
!
interface port-channel [[sw1-epagp-dad-interface]]
 shutdown
exit
!
stackwise-virtual
 dual-active detection pagp
 dual-active detection pagp trust channel-group [[sw1-epagp-dad-interface]]
exit
!
interface port-channel [[sw1-epagp-dad-interface]]
 no shutdown
end
!
write memory
reload
!
! ** Switch 2 **
interface interface [[sw2-vss-dad-interface-1]]
 channel-group [[sw2-epagp-dad-interface]] mode desirable
exit
!
interface port-channel [[sw2-epagp-dad-interface]]
 shutdown
exit
!
stackwise-virtual
 dual-active detection pagp
 dual-active detection pagp trust channel-group [[sw2-epagp-dad-interface]]
exit
!
interface port-channel [[sw2-epagp-dad-interface]]
 no shutdown
end
!
write memory
reload
!