!
0. Emergency
1. Alert
2. Critical
3. Error
4. Warning
5. Notice
6. Informational
7. Debug
!
!---------------------------------------------------
! SYSLOG Configuration Example for IOS
!---------------------------------------------------
!
!--turn logging on
logging on
!
!--configure logs to use time stamps
service timestamps debug datetime msec
service timestamps log datetime msec
!
!--configure logging buffer size
logging buffered 102400
!
!--level of alerts to present
logging buffered informational
logging console critical
logging monitor informational
logging trap informational
!
!--show origin if alert to be device name
logging origin-id hostname
!
!--where to send the alert
logging host [[logging-host-ip]]
!
!-- send logs to a custom location
logging trap [[ip-address]] transport [[tcp/udp]] port [[port-number]]
!
!--configure a sending interface, if necessary
logging source-interface vlan [[vlan-id]]
!
!---test command
send log [[alert-level]] "THIS IS A TEST ALERT"
!
!--displays the syslog server configuration and full log
show logging
!
!--show the contents of syslog history table
show logging history
!
!---------------------------------------------------
! SYSLOG Configuration Example for NX-OS
!---------------------------------------------------
!
!--configure logs to use time stamps
logging timestamp milliseconds
!
!--level of alerts to present
logging console 2
logging monitor 6
!
!--show origin if alert to be device name
logging origin-id hostname
!
!--where to send the alert
logging server [[syslog-server-ip]] use-vrf [[vrf-id]]
!
!--configure a sending interface, if necessary
logging source-interface vlan [[vlan-id]]
!
logging message interface type ethernet description
logging event trunk-status enable
logging event link-status enable

!
!--sisplays the console & mointor logging configuration
show logging console
show logging monitor
!
!--displays the logging time-stamp units configured
show logging timestamp
!
!--displays the syslog server configuration
show logging server
!
!--displays the logging configuration.
show logging info
!
show logging origin-id
!
!
0. Emergency
1. Alert
2. Critical
3. Error
4. Warning
5. Notice
6. Informational
7. Debug
!