! 4PEG Configuration Template
! http://4peg.com/b0sdwFRNhtMK
!-----------------------------------------------------------------
! IOS Router Configuration (15.x or higher)
! This will need to done on both routers
!-----------------------------------------------------------------
!
interface tunnel {{tunnel_id}}
 tunnel source {{source_ip_or_interface}}
 tunnel destination {{destination_ip}}
 ip address {{layer_3_tunnel_ip_address}} {{layer_3_tunnel_subnet_mask}}
 keepalive {{keealive-sends}} {{keepalive-fails}}
end
!
crypto isakmp policy {{IKEv1_id}}
 encryption aes 256
 hash sha256
 authentication pre-share
 group 19
 lifetime 3600
end
!
crypto isakmp key {{pre_shared_key}} address {{destination_ip}}
!
crypto ipsec transform-set tunnel-{{tunnel_id}}-ts esp-aes esp-sha256-hmac
 mode {{transport/tunnel}}
end
!
crypto ipsec profile tunnel-{{tunnel_id}}-ipsec
 set security-association lifetime seconds 3600
 set transform-set tunnel-{{tunnel_id}}-ts
!
interface Tunnel {{tunnel_id}}
 tunnel mode ipsec {{ipv4/ipv6}}
 tunnel protection ipsec profile tunnel-{{tunnel_id}}-ipsec
 ip address {{layer_3_tunnel_ip_address}} {{layer_3_tunnel_subnet_mask}}
!
