flow record [[device-name]].record
 description [[netflow-collector-description]]
 match datalink mac source address input
 match datalink mac destination address input
 !match datalink vlan input
 match application name account-on-resolution
 match ipv4 ttl
 match ipv4 tos
 match ipv4 protocol
 match ipv4 source address
 match ipv4 destination address
 match transport source-port
 match transport destination-port
 match interface input
 collect interface output
 collect counter bytes long
 collect counter packets long
 collect timestamp absolute first
 collect timestamp absolute last
!
flow exporter [[device-name]].exporter
 description [[netflow-collector-description]]
 destination [[netflow-collector-destination]] vrf [[vrf-instance]]
 source [[netflow-source-interface]]
 transport udp 2055
!
flow monitor [[device-name]].flow
 record [[device-name]].record
 exporter [[device-name]].exporter
 cache timeout active 60
!
interface GigabitEthernet0/0/1
 ip flow monitor [[device-name]].flow [[input/output]]
!
!
show flow record [[device-name]].record
show flow monitor [[device-name]].flow statistics
show flow monitor [[device-name]].flow cache
!