!
!--example configuration
!
!--enable private-vlan feature (for NXOS only)
feature private-vlan
!
!--layer 2 vlan configuration (example VLAN ID's used)
vlan 900
 name root-private-vlan
 private-vlan primary
 private-vlan association 901-902
!
vlan 901
 name community-primary-vlan
 private-vlan community
!
vlan 902
 name isolated-primary-vlan
 private-vlan isolated
!
!--connectivity to gateway port
interface ethernet<eth-id>
 switchport private-vlan mapping 900 add 901
 switchport private-vlan mapping 900 add 902
 switchport mode private-vlan promiscuous
exit
!
!--connectivity between devices on community ports and gateway port
interface ethernet<eth-id>
switchport private-vlan host-association 900 901
 switchport mode private-vlan host
exit
!
!--connectivity from the device to gateway ports only
interface ethernet<eth-id>
 switchport private-vlan host-association 900 902
 switchport mode private-vlan host
exit
!