!
ip sla 1
 icmp-echo [[next-hop-ip]]
 timeout 5000
 frequency 5
!
ip sla schedule 1 life forever start-time now
!
track 1 ip sla 1 reachability
!
ip route [[network-ip]] [[subnet-mask]] [[next-hop-ip]] track 1
!
ip route [[float-network-ip]] [[float-subnet-mask]] [[float-next-hop-ip]] [[ad-metric]]
!