
!------------------------------------------------
!-- Encryption configuration for each device
!------------------------------------------------
!
crypto isakmp policy 10
 authentication pre-share
crypto isakmp key cisco address 10.0.0.0 255.255.0.0
!
crypto ipsec transform-set MyTransformSet esp-aes esp-sha-hmac
 mode tunnel
!
crypto ipsec profile MyProfile
 set transform-set MyTransformSet
!
!------------------------------------------------
!-- Hub
!------------------------------------------------
!
interface Tunnel246
 ip address 192.168.246.2 255.255.255.0
 no ip redirects
 ip nhrp map multicast dynamic
 ip nhrp network-id 1
 tunnel source 10.0.23.2
 tunnel mode gre multipoint
 tunnel protection ipsec profile MyProfile
!
!------------------------------------------------
!-- Spoke
!------------------------------------------------
!
interface Tunnel246
 ip address 192.168.246.4 255.255.255.0
 no ip redirects
 ip nhrp map 192.168.246.2 10.0.23.2
 ip nhrp map multicast 10.0.23.2
 ip nhrp network-id 1
 ip nhrp nhs 192.168.246.2
 tunnel source 10.0.34.4
 tunnel mode gre multipoint
 tunnel protection ipsec profile MyProfile
!
!------------------------------------------------
!-- Spoke 
!------------------------------------------------
!
interface Tunnel246
 ip address 192.168.246.6 255.255.255.0
 no ip redirects
 ip nhrp map 192.168.246.2 10.0.23.2
 ip nhrp map multicast 10.0.23.2
 ip nhrp network-id 1
 ip nhrp nhs 192.168.246.2
 tunnel source 10.0.36.6
 tunnel mode gre multipoint
 tunnel protection ipsec profile MyProfile
!
